body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.gridItem{
    padding: 20px;
    background-color: hotpink;
    border-radius: 2px;
    display: flex;
    place-items: center;
}
.hidden{
    display: none;
}
